.containerOuter {
    display: flex;
    justify-content: center;
}

.containerInner {
    display: flex;
    flex-direction: column;
}

.containerInner > input[type="submit"] {
    width: 100%;
    padding-top: 1rem;
}

.containerInner > label {
    margin-top: 1rem;
}

.containerInner > input {
    margin-right: auto;
}

.btn {
    composes: btn from './common.css';
}
